/* 
    Document   : style
    Created on : 23-Oct-2013, 15:31:57
    Author     : mhaanran
    
*/

root { 
    display: block;
}
body {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

th,td {
    text-align:left;  
    width: 200px;
    border: 0.08em solid black; 
}
.hidden {
    display: none;
    font-size:0;
}

